---
layout: pdf
---

<header role="banner" class="site-header">
  <div class="wrapper-l">
    <h1><a class="link" href="http://billhinderman.com" target="_blank">Bill Hinderman</a></h1>
    <ul class="list-inline">
      <li>Founder.</li>
      <li>Leader.</li>
      <li>Engineer.</li>
      <li>Designer.</li>
      <li>Author.</li>
      <li>International Speaker.</li>
    </ul>
  </div>
</header>

{% include section-pdf-disclaimer.html %}

{% include section-pdf-gist.html %}

{% include section-contact.html %}

{% include section-work.html %}

{% include section-education.html %}

{% include section-publication.html %}

{% include section-project.html %}

{% include section-skill.html %}
