<section class="section-resume" id="section-publication">
  <div class="wrapper">
    <h2>Publications</h2>
    <div class="resume-item">
      <div class="resume-item-main">
        <div class="resume-item-heading">
          <h3>Building Responsive Data Visualization for the Web</h3>
          <p class="resume-item-time">Published November 9, 2015</p>
        </div>
        <div class="resume-item-info">
          <b class="resume-item-place">Published by <a class="link" href="http://www.wiley.com/" target="_blank">John Wiley & Sons, Inc.</a></b>
        </div>
      </div>
      <p class="resume-item-description">
        After speaking at the Data Visualization Summit in fall of 2014, I was approached by an editor from John Wiley & Sons, Inc. to create a book on the same topic as my talk: responsive data visualization.
      </p>
      <p class="resume-item-description">The book is separated into two parts: The first details the gorwth of responsive techniques in solving for the multi-device web, applying real-world examples. The second grows these techniques, and in introducing clean visualization design, applies them to building responsive, platform-agnostic data visualizations.
      </p>
      <ul class="resume-item-description list-inline">
        <li>
          <a class="link" href="http://responsivedatavisualization.com/" target="_blank">Explore the book</a>
        </li>
        <li>
          <a class="link" href="http://billhinderman.com/thoughts/im-writing-a-book/" target="_blank">Read the story</a>
        </li>
      </ul>
    </div>
  </div>
</section>
