<section class="section-resume" id="section-work">
  <div class="wrapper">
    <h2>Experience</h2>
    <ul class="resume-item-list">
      <li class="resume-item">
        <div class="resume-item-main">
          <div class="resume-item-heading">
            <h3>Senior Site Optimization UI Engineer</h3>
            <p class="resume-item-time">September 2014 — Present</p>
          </div>
          <div class="resume-item-info">
            <b class="resume-item-place">Orbitz Worldwide</b>
            <address class="resume-item-location">Chicago, IL</address>
          </div>
        </div>
        <p class="resume-item-description">
          a
        </p>
      </li>

      <li class="resume-item">
        <div class="resume-item-main">
          <div class="resume-item-heading">
            <h3>Site Optimization UI Engineer</h3>
            <p class="resume-item-time">March 2014 — September 2014</p>
          </div>
          <div class="resume-item-info">
            <b class="resume-item-place">Orbitz Worldwide</b>
            <address class="resume-item-location">Chicago, IL</address>
          </div>
        </div>
        <p class="resume-item-description">
          a
        </p>
      </li>

      <li class="resume-item">
        <div class="resume-item-main">
          <div class="resume-item-heading">
            <h3>UI Engineer in Hotel Group</h3>
            <p class="resume-item-time">June 2012 — March 2014</p>
          </div>
          <div class="resume-item-info">
            <b class="resume-item-place">Orbitz Worldwide</b>
            <address class="resume-item-location">Chicago, IL</address>
          </div>
        </div>
        <p class="resume-item-description">
          a
        </p>
      </li>

      <li class="resume-item">
        <div class="resume-item-main">
          <div class="resume-item-heading">
            <h3>Assistant Program Director</h3>
            <p class="resume-item-time">March 2011 — March 2012</p>
          </div>
          <div class="resume-item-info">
            <b class="resume-item-place">WPGU 107.1FM</b>
            <address class="resume-item-location">Champaign, IL</address>
          </div>
        </div>
        <p class="resume-item-description">
          Director of all on-air talent. Management role for staff of ~30 individuals in which I was responsible for talent acquisition, training, and growth, along with budget management, brand development, and regular presentations to both the sales team and executive board.
        </p>
      </li>

      <li class="resume-item">
        <div class="resume-item-main">
          <div class="resume-item-heading">
            <h3>On-air Talent</h3>
            <p class="resume-item-time">September 2009 — May 2012</p>
          </div>
          <div class="resume-item-info">
            <b class="resume-item-place">WPGU 107.1FM</b>
            <address class="resume-item-location">Champaign, IL</address>
          </div>
        </div>
        <p class="resume-item-description">
          Radio host and disc jockey for a commercial radio station owned and operated by Illini Media. Was responsible for programming, ad trafficking, interviews, producing on-air content, and hosting live events.
        </p>
      </li>
    </ul>
  </div>
</section>
