<section class="section-resume" id="section-gist">
  <h2 class="wrapper">The Gist</h2>
  <div class="wrapper-s">
    <p>
      I am an engineering and product leader with senior management experience at companies including <a class="link link-inline" href="https://www.onemedical.com" target="_blank">One Medical</a>, <a class="link link-inline" href="https://www.rallyhealth.com/" target="_blank">Rally Health</a>, <a class="link link-inline" href="https://www.vividseats.com/" target="_blank">Vivid Seats</a>, and <a class="link link-inline" href="https://www.expedia.com/" target="_blank">Expedia</a>.
    </p>

    <p>
      Most recently, I led the clinical experience department within the product and engineering organization at One Medical. This department consisted of four teams responsible for the whole of our clinical and care team experience. I separately led our design systems team within our core services department. 
    </p>

    <p>
      Prior to One Medical, I led three teams at Rally Health, creating experiences on both on the customer and employee facing applications managed by Rally and our parent company United Healthcare.
    </p>

    <p>
      I managed the web experience group at Vivid Seats, which was responsible for our web marketplace, experimentation platform, and component library. 
    </p>

    <p>
      I've also led engineering teams at small companies, founding <a class="link link-inline" href="https://www.goshortwave.com" target="_blank">Shortwave</a>,  acting as Chief Technology Officer at <a class="link link-inline" href="https://directsoftware.com/" target="_blank">Direct by Vaystays</a>, and building the experimentation and A/B testing practice at <a class="link link-inline" href="https://www.raise.com/" target="_blank">Raise Marketplace</a>.
    </p>

    <p>
      I’m also the author of Building Responsive Data Visualization for the Web, a book on the processes of building code-driven data visualization upon the principles of responsive and API-first web design.
    </p>
  </div>
</section>