<section class="section-resume" id="section-gist">
  <h2 class="wrapper">The Gist</h2>
  <div class="wrapper-s">
    <p>
      I'm the Optimization and Experimentation Engineering Lead at Raise Marketplace. My team and I are responsible for creating both the framework for, and the mindset around lightweight A/B experimentation within Raise's web and app experiences. 
    </p>

    <p>
      I've led site optimization teams at both Expedia Inc., and Orbitz Worldwide. At Expedia, our team focused specifically on the air product vertical. At Orbitz, I built the A/B testing development practice from the ground up, focusing on experimenting and optimizing across all product verticals while simultaneously accelerating and training specific product teams to do the same.
    </p>

    <p>
      I’m also the author of <a class="link link-inline" href="http://responsivedatavisualization.com/" target="_blank">Building Responsive Data Visualization for the Web</a>, a book on the processes of building code-driven data visualization upon the principles of responsive web design.
    </p>

    <p>
      I fly to different cities as often as I can to talk about the future of web development, data visualization, and cross-platform design.
    </p>
  </div>
</section>
