<section class="section-resume bg-white-not" id="section-presentation">
  <div class="wrapper">
    <h2>Presentations</h2>
    <ul class="resume-item-list">
      <li class="resume-item">
        <div class="resume-item-main">
          <div class="resume-item-heading">
            <h3>Actionable Interfaces</h3>
            <p class="resume-item-time">First presented April 2016</p>
          </div>
          <div class="resume-item-info">
            <b class="resume-item-place">Mobile Innovation Summit 2016</b>
            <address class="resume-item-location">London, England</address>
          </div>
        </div>
        <p class="resume-item-description">
          This presentation revolves around a new way of thinking about designing for different sizes of screens: ignoring the screens altogether. It details how, as screens, input methods, and the Internet in general, permeate every device that we have, designers and engineering teams are fighting against attention spans, not screen sizes.  And as such, we need to build for as wide of an interaction field as we can, without creating overlapping work.
        </p>
        <p class="resume-item-description">
          The presentation first examines how we have gotten to the multi-screen world of now, and how we are beginning to design, more and more, for devices that don't even have screens. From there, it details the efficiencies gained by building an API directly to your content, giving you the ability to then connect lightweight, specialized input methods to that content, without having to ever reach past your view layer.
        </p>
        <p class="resume-item-description">
          <a class="link" href="https://www.youtube.com/watch?v=z7jCt5P3Geo" target="_blank">Watch on YouTube</a>
        </p>
      </li>

      <li class="resume-item">
        <div class="resume-item-main">
          <div class="resume-item-heading">
            <h3>The Inconsistent Web</h3>
            <p class="resume-item-time">First presented September 2015</p>
          </div>
          <div class="resume-item-info">
            <b class="resume-item-place">Digital Design and Web Innovation Summit 2015</b>
            <address class="resume-item-location">Los Angeles, CA</address>
          </div>
        </div>
        <p class="resume-item-description">
          This presentation distills my experience growing the site optimization framework and practice at Orbitz Worldwide. As A/B experimentation becomes more prevalent a way to optimize conversion, designers and development teams now create even more complexity in what they serve to the user.  At best, this filters out a hyper-focused set of features.  At worst, it creates opacity around any single user’s experience.
        </p>
        <p class="resume-item-description">
          The presentation walks through how we have reached a consistent method for maintaining both experiment and optimization quality while being mindful of the greater user experience for our audience. The talk's tentpoles include: defining quantifiable success metrics, over-communicating results, failing cheaply, and not experimenting on inevitabilities.
        </p>
        <p class="resume-item-description">
          <a class="link" href="https://www.youtube.com/watch?v=4AgbUnnfMpo" target="_blank">Watch on YouTube</a>
        </p>
      </li>

      <li class="resume-item">
        <div class="resume-item-main">
          <div class="resume-item-heading">
            <h3>Building Responsive Data Visualization for the Web</h3>
            <p class="resume-item-time">First presented September 2014</p>
          </div>
          <div class="resume-item-info">
            <b class="resume-item-place">Data Visualization Summit 2014</b>
            <address class="resume-item-location">Boston, MA</address>
          </div>
        </div>
        <p class="resume-item-description">
          This presentation poses the question: "How can responsive web design inform data visualization as we move to a mobile-dominated, multi-device internet?" It seeks to answer it by walking through the core methods of responsive design: fluid grids, flexible images, and media queries, and abstracting them out to greater lessons about designing for the modern multi-device web. Those lessons are then applied to the science of data visualization to create device-agnostic designs.
        </p>
        <p class="resume-item-description">
          This presentation has since been expanded into a <a class="link link-inline" href="http://www.amazon.com/gp/product/1119067146/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1119067146&linkCode=as2&tag=billhind-20&linkId=BXDNUXNJYHFNFWYL" target="_blank">book</a> and accompanying <a class="link link-inline" href="http://responsivedatavisualization.com/" target="_blank">website</a>.
        </p>
        <ul class="resume-item-description list-inline">
          <li>
            <a class="link" href="https://www.youtube.com/watch?v=ORkjqfNWmhc" target="_blank">Watch on YouTube</a>
          </li>
          <li>
            <a class="link" href="http://billhinderman.com/thoughts/nigerian-royalty/" target="_blank">Read the story</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
