<section class="section-resume bg-white-not" id="section-education">
  <div class="wrapper">
    <h2>Education</h2>
    <div class="resume-item">
      <div class="resume-item-main">
        <div class="resume-item-heading">
          <h3>Bachelor of Science in Computer Science</h3>
          <p class="resume-item-time">August 2008 — May 2012</p>
        </div>
        <div class="resume-item-info">
          <b class="resume-item-place">University of Illinois at Urbana-Champaign</b>
          <address class="resume-item-location">Champaign, IL</address>
        </div>
      </div>
      <p class="resume-item-description">
        Computer Science undergraduate degree with a specialization in human-computer interaction and user interface design. Additional coursework in advertising and creative writing. Dean's list student, and inductee into both the Chancellor's Honors Scholar and James Scholar programs.
      </p>
    </div>
  </div>
</section>
