<section class="section-resume" id="section-gist">
  <h2 class="wrapper">The Gist</h2>
  <div class="wrapper-s">
    <p>
      I am a product leader with a focused experimentation and optimization engineering background and a taste for analytics-driven MVP delivery.  I'm the Vice President of Product at Vaystays, a market-network of professionally managed vacation rentals.
    </p>

    <p>
      I've led engineering efforts within optimization and experimentation at Raise Marketplace, Expedia Inc., and Orbitz Worldwide. The teams I have built and I are responsible for creating both the framework for, and the mindset around lightweight A/B experimentation within these companies' eCommerce experiences.  I have a proven record of building A/B testing development practices from the ground up, focusing on experimenting and optimizing across all product verticals while simultaneously accelerating and training specific product teams to do the same.
    </p>

    <p>
      I’m also the author of <a class="link link-inline" href="http://responsivedatavisualization.com/" target="_blank">Building Responsive Data Visualization for the Web</a>, a book on the processes of building code-driven data visualization upon the principles of responsive web design.
    </p>

    <p>
      I fly to different cities as often as I can to talk about the future of web development, data visualization, and cross-platform design.
    </p>
  </div>
</section>
