<section class="section-resume" id="section-gist">
  <h2 class="wrapper">The Gist</h2>
  <div class="wrapper-s">
    <p>
      I am a product and engineering leader with a focused experimentation and conversion optimization background and a taste for analytics-driven MVP delivery.  I'm the Web and Experimentation Engineering Group Manager at VividSeats, both leading the architectural efforts and managing the team tasked with evolving the web front-end and experimentation platforms at the company.
    </p>

    <p>
      I'm the founder of <a class="link link-inline" href="http://www.goshortwave.com/" target="_blank">Shortwave</a> - the first adaptive podcast hosting, syndication, analytics, and dynamic content stitching platform.  Most recently, I've launched <a class="link link-inline" href="http://www.podcastcampfire.com/" target="_blank">Podcast Campfire</a> - a news, discussion, and jobs board for the podcasting industry.
    </p>

    <p>
      The teams I have built and I are responsible for creating both the framework for, and the mindset around lightweight A/B experimentation within these companies' eCommerce experiences.  I have a proven record of building A/B testing development practices from the ground up, focusing on experimenting and optimizing across all product verticals while simultaneously accelerating and training specific product teams to do the same.
    </p>

    <p>
      I’m also the author of <a class="link link-inline" href="http://responsivedatavisualization.com/" target="_blank">Building Responsive Data Visualization for the Web</a>, a book on the processes of building code-driven data visualization upon the principles of responsive and API-first web design.
    </p>
  </div>
</section>
