<section class="section-resume" id="section-project">
  <div class="wrapper">
    <h2>Projects</h2>
    <ul class="resume-item-list">
      <li class="resume-item">
        <div class="resume-item-main">
          <div class="resume-item-heading">
            <h3>Podcast Campfire</h3>
            <p class="resume-item-time">Publicly released August 2018</p>
          </div>
        </div>
        <p class="resume-item-description">
          After working so deeply to launch <a class="link link-inline" href="https://www.goshortwave.com" target="_blank">Shortwave</a> in 2017 and improve it through the first half of 2018, I wanted to create a new greenfield project with the improved architectural patterns I had developed.  However, I still wanted to be working int he podcasting space, as I care deeply about it.  What I noticed was that podcasting does not have a news and jobs board similar to Hacker News or Designer News.  So I created Podcast Campfire.  The front end is a react app, hitting a rails API app.  The apps are deployed on Heroku.  All ideation, development, adn design were done by me.  Working some nights and weekends, this project went from conception to job board affiliate revenue in 41 days.
        </p>
        <p class="resume-item-description">
          <a class="link" href="https://www.podcastcampfire.com/" target="_blank">View project</a>
        </p>
      </li>

      <li class="resume-item">
        <div class="resume-item-main">
          <div class="resume-item-heading">
            <h3>Shortwave</h3>
            <p class="resume-item-time">Publicly released December 2017</p>
          </div>
        </div>
        <p class="resume-item-description">
          I had a New Year's Resolution going into 2017 to start a podcast.  I came up with some ideas, contcated a few guests, made a cover, and then started looking at hosting platforms.  And I was disappointed with each one.  So I changed my resolution to starting a company and making an app that would evolve podcast hosting, and analytics.  The differentiator came when a I developed the process for on-demand audio transcoding to allow users to stitch new clips into old episodes.  This allows podcasters to create, theoretically, infinitely monetizable content.  I began ideating on this project in June of 2017, launched it privately in fall of 2017, and publicly at Podcon 2017, in Seattle.
        </p>
        <p class="resume-item-description">
          <a class="link" href="https://www.goshortwave.com/" target="_blank">View project</a>
        </p>
      </li>

      <li class="resume-item">
        <div class="resume-item-main">
          <div class="resume-item-heading">
            <h3>Building Responsive Data Visualization for the Web</h3>
            <p class="resume-item-time">Initially released October 2015</p>
          </div>
        </div>
        <p class="resume-item-description">
          In parity with the <a class="link link-inline" href="http://www.amazon.com/gp/product/1119067146/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1119067146&linkCode=as2&tag=billhind-20&linkId=BXDNUXNJYHFNFWYL" target="_blank">book</a>, I created a website that provides resources, exercises, and information about responsive design, data visualization, D3.js, and building future-friendly experiences. This website is built on Jekyll, and uses Sass as a CSS preprocessor. Exercises in the chapters include AJAX techniques, responsive design, jQuery, and D3.js. I was responsible for all design and development on this project.
        </p>
        <ul class="resume-item-description list-inline">
          <li>
            <a class="link" href="http://responsivedatavisualization.com/" target="_blank">View project</a>
          </li>
          <li>
            <a class="link link-inline" href="http://www.amazon.com/gp/product/1119067146/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1119067146&linkCode=as2&tag=billhind-20&linkId=BXDNUXNJYHFNFWYL" target="_blank">Buy the book</a>
          </li>
        </ul>
      </li>

      <li class="resume-item">
        <div class="resume-item-main">
          <div class="resume-item-heading">
            <h3>CTA Train Tracker</h3>
            <p class="resume-item-time">Initially released March 2015</p>
          </div>
        </div>
        <p class="resume-item-description">
          The CTA Train Tracker is a BackboneJS webapp that queries the Chicago Transit Authority's arrival prediction <a class="link link-inline" href="http://www.transitchicago.com/developers/traintracker.aspx" target="_blank">API</a>. It is a personal project with goals on both the technical and design fronts. On the technical side, I created the project to learn BackboneJS and proxy setup for secure data transfer. On the design front, it was an exploration into progressive enhancement, perceived performance, and adherence to Material Design standards. I was responsible for all design and development on this project.
        </p>
        <p class="resume-item-description">
          <a class="link" href="http://cta.billhinderman.com/" target="_blank">View project</a>
        </p>
      </li>

      <li class="resume-item">
        <div class="resume-item-main">
          <div class="resume-item-heading">
            <h3>The Cocktail Guide</h3>
            <p class="resume-item-time">Initially released May 2013</p>
          </div>
        </div>
        <p class="resume-item-description">
          The Cocktail Guide is a cocktail recipe webapp with the goal of building a fast, mobile-first experience for searching for and mixing drinks. The project was my first exploration into responsive design principles. The server-side work is Ruby on Rails, with CoffeeScript and Sass on the front-end. I was responsible for all design, front-end development, and cocktail-making.
        </p>
        <ul class="resume-item-description list-inline">
          <li>
            <a class="link" href="http://thecocktailgui.de/" target="_blank">View project</a>
          </li>
          <li>
            <a class="link" href="http://www.billhinderman.com/writes/everything-is-ugly-until-i-make-it/" target="_blank">Read the story</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
