<section class="section-resume bg-white-not" id="section-skill">
  <div class="wrapper">
    <h2>Skills</h2>
    <ul class="resume-item-list">
      <li class="resume-item">
        <h3>Robot</h3>
        <p class="skills-description">Things that I can use.</p>
        <ul class="skills-list">
          <li>HTML</li>
          <li>PHP</li>
          <li>JSP</li>
          <li>Ruby on Rails</li>
          <li>Mustache</li>
          <li>Liquid</li>
          <li>SEO-standardized markup</li>
          <li>ADA-compliant markup</li>

          <li>CSS</li>
          <li>Sass</li>
          <li>Less</li>

          <li>JavaScript</li>
          <li>jQuery</li>
          <li>D3.js</li>
          <li>BackboneJS</li>
          <li>AngularJS</li>
          <li>ReactJS</li>

          <li>AWS</li>
          <li>Heroku</li>

          <li>NPM</li>

          <li>Adobe Creative Suite</li>
          <li>Sketch</li>
        </ul>
      </li>
      <li class="resume-item">
        <h3>Human</h3>
        <p class="skills-description">Things that I can do.</p>
        <ul class="skills-list">
          <li>Responsive Design</li>
          <li>Progressive Enhancement</li>
          <li>Data Visualization</li>
          <li>API-First Development</li>
          <li>A/B Experimentation</li>
          <li>Conversion Optimization</li>
          <li>Team Leadership</li>
          <li>Product Vision</li>
          <li>Product Management</li>
          <li>User Experience Design</li>
          <li>Public Speaking</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
