<section class="section-resume" id="section-work">
  <div class="wrapper">
    <h2>Experience</h2>
    <ul class="resume-item-list">
      <li class="resume-item">
        <div class="resume-item-main">
          <div class="resume-item-heading">
            <h3>Senior Site Optimization UI Engineer</h3>
            <p class="resume-item-time">September 2014 — Present</p>
          </div>
          <div class="resume-item-info">
            <b class="resume-item-place">Orbitz Worldwide</b>
            <address class="resume-item-location">Chicago, IL</address>
          </div>
        </div>
        <p class="resume-item-description">
          Lead technology role within the site optimization group at Orbitz. As the team and practice of site experimentation has grown at the company, I have continued to develop a suite of lightweight client-side experiments, but have also taken on mentorship of more junior on-team engineers, and the technical training of front-end engineers across the organization. I have also taken ownership over advancing our client-side experimentation framework and monitoring capabilities.
        </p>
        <p class="resume-item-description">
          Technical initiatives that I have led in this role include:
        </p>
        <ul class="resume-item-description list-bullet">
          <li><span class="text-black">Building an internal client-side experimentation framework in order to eliminate the reliance on third-party tools.</span></li>
          <li><span class="text-black">Developing a templating system to reduce overlap in experiments and allow quality engineers insight into conflicting experiences.</span></li>
          <li><span class="text-black">Creating an eventing system to group and reduce calls to third-party tracking systems.</span></li>
          <li><span class="text-black">Scaling our client-side development practice through workshops and guided lessons in order to accelerate the testing practice of individual feature teams.</span></li>
        </ul>
      </li>

      <li class="resume-item">
        <div class="resume-item-main">
          <div class="resume-item-heading">
            <h3>Site Optimization UI Engineer</h3>
            <p class="resume-item-time">March 2014 — September 2014</p>
          </div>
          <div class="resume-item-info">
            <b class="resume-item-place">Orbitz Worldwide</b>
            <address class="resume-item-location">Chicago, IL</address>
          </div>
        </div>
        <p class="resume-item-description">
          Technology resource for the site testing acceleration team.  This is a product-agnostic team focused on rapid experience-driven experiments and optimizations of the Orbitz shopping and booking path.  Responsibilities were to ideate, design, develop, and analyze a suite of client-side and server-side multivariate tests across the Orbitz Worldwide platform while building a maintainable way to grow the scale of experimentation within the organization.
        </p>
      </li>

      <li class="resume-item">
        <div class="resume-item-main">
          <div class="resume-item-heading">
            <h3>UI Engineer in Hotel Group</h3>
            <p class="resume-item-time">June 2012 — March 2014</p>
          </div>
          <div class="resume-item-info">
            <b class="resume-item-place">Orbitz Worldwide</b>
            <address class="resume-item-location">Chicago, IL</address>
          </div>
        </div>
        <p class="resume-item-description">
          Front-end development role within the hotel group at Orbitz Worldwide.  I was responsible for standards-based UI development, design input, and framework evolution on our then-fresh responsive design efforts. Larger projects included AJAX hotel neighborhood comparison, mobile-first hotel search results, responsive property details, and internationalized landing page real-time pricing modules.
        </p>
      </li>

      <li class="resume-item">
        <div class="resume-item-main">
          <div class="resume-item-heading">
            <h3>Assistant Program Director</h3>
            <p class="resume-item-time">March 2011 — March 2012</p>
          </div>
          <div class="resume-item-info">
            <b class="resume-item-place">WPGU 107.1FM</b>
            <address class="resume-item-location">Champaign, IL</address>
          </div>
        </div>
        <p class="resume-item-description">
          Director of on-air talent - managed a staff of ~30 individuals as in-studio DJs, event hosts, and ad producers. I was responsible for talent acquisition, training, and growth, along with budget management, brand development, and regular presentations to both the sales team and executive board.
        </p>
      </li>

      <li class="resume-item">
        <div class="resume-item-main">
          <div class="resume-item-heading">
            <h3>On-air Talent</h3>
            <p class="resume-item-time">September 2009 — May 2012</p>
          </div>
          <div class="resume-item-info">
            <b class="resume-item-place">WPGU 107.1FM</b>
            <address class="resume-item-location">Champaign, IL</address>
          </div>
        </div>
        <p class="resume-item-description">
          Radio host and disc jockey for a commercial radio station owned and operated by Illini Media. Was responsible for programming, ad trafficking, interviews, producing on-air content, and hosting live events.
        </p>
      </li>
    </ul>
  </div>
</section>
