<section class="section-resume bg-white-not" id="section-contact">
  <div class="wrapper">
    <h2>Contact</h2>
    <ul class="contact-list">
      <li>
        <i class="fa fa-globe text-gmd"></i>
        <a class="link" href="http://billhinderman.com" target="_blank">billhinderman<span class="text-blue">.</span>com</a>
      </li>
      <li>
        <i class="fa fa-envelope-o text-gmd"></i>
        <a class="link" href="mailto:bill@billhinderman.com">bill<span class="text-blue">@</span>billhinderman<span class="text-blue">.</span>com</a>
      </li>
      <li>
        <i class="fa fa-phone text-gmd"></i>
        <a class="link" href="tel:17083053993">1<span class="text-blue">.</span>708<span class="text-blue">.</span>305<span class="text-blue">.</span>3993</a>
      </li>
      <li>
        <i class="fa fa-twitter text-gmd"></i>
        <a class="link" href="http://twitter.com/billHinderman" target="_blank"><span class="text-blue">@</span>billHinderman</a>
      </li>
      <li>
        <i class="fa fa-linkedin text-gmd"></i>
        <a class="link" href="https://www.linkedin.com/in/williamhinderman" target="_blank">in<span class="text-blue">/</span>williamhinderman</a>
      </li>
      <li>
        <i class="fa fa-github text-gmd"></i>
        <a class="link" href="https://github.com/BillHinderman" target="_blank">git<span class="text-blue">:</span>billHinderman</a>
      </li>
    </ul>
  </div>
</section>
