<section class="section-resume bg-white-not" id="section-project">
  <div class="wrapper">
    <h2>Selected Projects</h2>
    <ul class="resume-item-list">
      <li class="resume-item">
        <div class="resume-item-main">
          <div class="resume-item-heading">
            <h3>Nomad</h3>
            <p class="resume-item-time">Released July 2024</p>
          </div>
        </div>
        <p class="resume-item-description">
          As my first sabbatical project, I worked with my father's motorcycle club to develop an app that mimics the hand signals that riders use to communicate during a ride. I worked with this group to develop a simple UX during rides, allowing members of a ride to nominate signals, and ride captains to share the group signal when it changes. Under the hood, the app is entirely typescript. It uses expo and react-native for app building, and firebase for authentication, storage, and realtime messaging. All conceptualization, development, and UX was done by me. 
        </p>
        <p class="resume-item-description">
          <a class="link" href="https://apps.apple.com/us/app/nomad-ride-signal-messaging/id6526490926" target="_blank">View app</a>
        </p>
      </li>


      <li class="resume-item">
        <div class="resume-item-main">
          <div class="resume-item-heading">
            <h3>Podcast Campfire</h3>
            <p class="resume-item-time">Released August 2018, Sunset 2021</p>
          </div>
        </div>
        <p class="resume-item-description">
          After working to launch <a class="link link-inline" href="https://www.goshortwave.com" target="_blank">Shortwave</a> in 2017 and improve it through the first half of 2018, I wanted to create a new greenfield project with the improved architectural patterns I had developed.  However, I still wanted to be working int he podcasting space, as I care deeply about it.  What I noticed was that podcasting does not have a news and jobs board similar to Hacker News or Designer News.  So I created Podcast Campfire.  The front end is a react app, hitting a rails API app.  The apps are deployed on Heroku.  All ideation, development, and design were done by me.  Working some nights and weekends, this project went from conception to job board affiliate revenue in 41 days.
        </p>
        <p class="resume-item-description">
          Project has been sunset
        </p>
      </li>

      <li class="resume-item">
        <div class="resume-item-main">
          <div class="resume-item-heading">
            <h3>Shortwave</h3>
            <p class="resume-item-time">Released December 2017</p>
          </div>
        </div>
        <p class="resume-item-description">
          I had a New Year's Resolution going into 2017 to start a podcast.  I came up with some ideas, contcated a few guests, made a cover, and then started looking at hosting platforms.  And I was disappointed with each one.  So I changed my resolution to starting a company and making an app that would evolve podcast hosting, and analytics.  The differentiator came when a I developed the process for on-demand audio transcoding to allow users to stitch new clips into old episodes.  This allows podcasters to create syndicated content.  I began ideating on this project in June of 2017, launched it privately in fall of 2017, and publicly at Podcon 2017, in Seattle.  All conceptualization, development, and UX was done by me.  Illustration work was done by Mo Komperda.
        </p>
        <p class="resume-item-description">
          <a class="link" href="https://www.goshortwave.com/" target="_blank">View project</a>
        </p>
      </li>
    </ul>
  </div>
</section>
