<section class="section-resume" id="section-work">
  <div class="wrapper">
    <h2>Experience</h2>
    <ul class="resume-item-list">
      <li class="resume-item">
        <div class="resume-item-main">
          <div class="resume-item-heading">
            <h3>Chief Technology Officer</h3>
            <p class="resume-item-time">January 2017 — Present</p>
          </div>
          <div class="resume-item-info">
            <b class="resume-item-place">Vaystays</b>
            <address class="resume-item-location">Chicago, IL</address>
          </div>
        </div>
        <p class="resume-item-description">
            Chief Technology Officer at <a class="link link-inline" href="http://www.getdirect.io" target="_blank">Direct by Vaystays</a>, an operations, customer experience, and distribution software platform for professional vacation rental management companies.   I am responsible for the strategic planning, product vision, execution, engineering architecture, and analytics surrounding product development of both Direct, and the Vaystays Marketplace.  Some of these responsibilities are:
        </p>
        <ul class="resume-item-description list-bullet">
            <li><span class="text-black">Architecting a scalable multi-tenant system to support ecommerce by hundreds of property management companies.</span></li>
            <li><span class="text-black">Managing, attracting, and mentoring a high-performing team, while simultaneously creating silo-ed work for staff augmentation.</span></li>
            <li><span class="text-black">Regularly pitching to and communicating with investors and consultants, distilling technical information into understandable, meaningful conversations.</span></li>
            <li><span class="text-black">Building long and short term budgets for engineering needs, architecture upgrades, and scaling cloud storage and computing.</span></li>
            <li><span class="text-black">Developing cohesive roadmap for feature development teams.</span></li>
            <li><span class="text-black">Building analytics platform for benchmarking of marketplace health and product success.</span></li>
            <li><span class="text-black">Prioritization and parallelization of ongoing product and backend enhancements.</span></li>
            <li><span class="text-black">Creation of a maintainable design system for reuse throughout Vaystays marketplace.</span></li>
        </ul>
      </li>

      <li class="resume-item">
        <div class="resume-item-main">
          <div class="resume-item-heading">
            <h3>VP of Product</h3>
            <p class="resume-item-time">August 2016 — January 2017</p>
          </div>
          <div class="resume-item-info">
            <b class="resume-item-place">Vaystays</b>
            <address class="resume-item-location">Chicago, IL</address>
          </div>
        </div>
        <p class="resume-item-description">
            Vice President of Product at <a class="link link-inline" href="https://www.vaystays.com" target="_blank">Vaystays</a>, a market-network for professionally managed vacation rentals.  I am responsible for the strategic planning, product vision, execution, and analytics surrounding product development of the growing Vaystays marketplace.  Some of these responsibilities are:
        </p>
        <ul class="resume-item-description list-bullet">
            <li><span class="text-black">Developing cohesive roadmap for feature development teams.</span></li>
            <li><span class="text-black">Building analytics platform for benchmarking of marketplace health and product success.</span></li>
            <li><span class="text-black">Establishing experimentation practice within product enhancement development.</span></li>
            <li><span class="text-black">Prioritization and parallelization of ongoing product and backend enhancements.</span></li>
            <li><span class="text-black">Creation of a maintainable design system for reuse throughout Vaystays marketplace.</span></li>
        </ul>
      </li>

      <li class="resume-item">
        <div class="resume-item-main">
          <div class="resume-item-heading">
            <h3>Optimization and Experimentation Engineering Lead</h3>
            <p class="resume-item-time">April 2016 — August 2016</p>
          </div>
          <div class="resume-item-info">
            <b class="resume-item-place">Raise Marketplace</b>
            <address class="resume-item-location">Chicago, IL</address>
          </div>
        </div>
        <p class="resume-item-description">
            Lead engineering role creating the optimization framework and practice at <a class="link link-inline" href="http://www.raise.com" target="_blank">Raise Marketplace</a>. I am responsible for architecting an A/B testing framework supporting the Raise Marketplace web and app experiences. This framework includes:
        </p>
        <ul class="resume-item-description list-bullet">
            <li><span class="text-black">Experiment qualification and segmentation logic.</span></li>
            <li><span class="text-black">User data capture and analytics platform.</span></li>
            <li><span class="text-black">Configuration tool for modifying and rolling out experiments.</span></li>
            <li><span class="text-black">Injection of lightweight experiment code into the greater Raise Marketplace web application.</span></li>
        </ul>
        <p class="resume-item-description">
          In addition to this framework, I am the engineering organization's evangelist and instructor for lightweight and meaningful A/B and MVT experimentation practices, coaching development teams within the organization on proper experimentation practice.
        </p>
      </li>

      <li class="resume-item">
        <div class="resume-item-main">
          <div class="resume-item-heading">
            <h3>Engineering Manager in Air Experience Site Optimization</h3>
            <p class="resume-item-time">November 2015 — April 2016</p>
          </div>
          <div class="resume-item-info">
            <b class="resume-item-place">Expedia Inc.</b>
            <address class="resume-item-location">Chicago, IL</address>
          </div>
        </div>
        <p class="resume-item-description">
          Manager for site optimization and experimentation team within <a class="link link-inline" href="http://www.expedia.com" target="_blank">Expedia</a>'s air vertical. Our team is responsible for running lightweight, user-focused experiments within the air shopping and flight information sections of the path.  I manage a nimble team that builds and executes on experiments as quickly as possible.
        </p>
        <p class="resume-item-description">
          Outside of the team, I have continued to grow the experimentation practice at Expedia by taking lessons learned from my previous role, and applying them to the following:
        </p>
        <ul class="resume-item-description list-bullet">
          <li><span class="text-black">Removing technical barriers to more lightweight and client-side experimentation efforts.</span></li>
          <li><span class="text-black">Building a standardized way to envision, define, and develop experiments to reduce collision and interaction on high-visibility features.</span></li>
          <li><span class="text-black">Improving on analytics in a responsive web framework, moving toward screen sizes and user contexts, rather than device categories.</span></li>
        </ul>
      </li>

      <li class="resume-item">
        <div class="resume-item-main">
          <div class="resume-item-heading">
            <h3>Senior Site Optimization UI Engineer</h3>
            <p class="resume-item-time">September 2014 — November 2015</p>
          </div>
          <div class="resume-item-info">
            <b class="resume-item-place">Orbitz Worldwide</b>
            <address class="resume-item-location">Chicago, IL</address>
          </div>
        </div>
        <p class="resume-item-description">
          Lead technology role within the site optimization group at <a class="link link-inline" href="http://www.orbitz.com" target="_blank">Orbitz</a>. As the team and practice of site experimentation has grown at the company, I have continued to develop a suite of lightweight client-side experiments, but have also taken on mentorship of more junior on-team engineers, and the technical training of front-end engineers across the organization. I have also taken ownership over advancing our client-side experimentation framework and monitoring capabilities.
        </p>
        <p class="resume-item-description">
          Technical initiatives that I have led in this role include:
        </p>
        <ul class="resume-item-description list-bullet">
          <li><span class="text-black">Building an internal client-side experimentation framework in order to eliminate the reliance on third-party tools.</span></li>
          <li><span class="text-black">Developing a templating system to reduce overlap in experiments and allow quality engineers insight into conflicting experiences.</span></li>
          <li><span class="text-black">Creating an eventing system to group and reduce calls to third-party tracking systems.</span></li>
          <li><span class="text-black">Scaling our client-side development practice through workshops and guided lessons in order to accelerate the testing practice of individual feature teams.</span></li>
        </ul>
      </li>

      <li class="resume-item">
        <div class="resume-item-main">
          <div class="resume-item-heading">
            <h3>Site Optimization UI Engineer</h3>
            <p class="resume-item-time">March 2014 — September 2014</p>
          </div>
          <div class="resume-item-info">
            <b class="resume-item-place">Orbitz Worldwide</b>
            <address class="resume-item-location">Chicago, IL</address>
          </div>
        </div>
        <p class="resume-item-description">
          Technology resource for the site testing acceleration team.  This is a product-agnostic team focused on rapid experience-driven experiments and optimizations of the Orbitz shopping and booking path.  Responsibilities were to ideate, design, develop, and analyze a suite of client-side and server-side multivariate tests across the Orbitz Worldwide platform while building a maintainable way to grow the scale of experimentation within the organization.
        </p>
      </li>

      <li class="resume-item">
        <div class="resume-item-main">
          <div class="resume-item-heading">
            <h3>UI Engineer in Hotel Group</h3>
            <p class="resume-item-time">June 2012 — March 2014</p>
          </div>
          <div class="resume-item-info">
            <b class="resume-item-place">Orbitz Worldwide</b>
            <address class="resume-item-location">Chicago, IL</address>
          </div>
        </div>
        <p class="resume-item-description">
          Front-end development role within the hotel group at Orbitz Worldwide.  I was responsible for standards-based UI development, design input, and framework evolution on our then-fresh responsive design efforts. Larger projects included AJAX hotel neighborhood comparison, mobile-first hotel search results, responsive property details, and internationalized landing page real-time pricing modules.
        </p>
      </li>

      <li class="resume-item">
        <div class="resume-item-main">
          <div class="resume-item-heading">
            <h3>Assistant Program Director</h3>
            <p class="resume-item-time">March 2011 — March 2012</p>
          </div>
          <div class="resume-item-info">
            <b class="resume-item-place">WPGU 107.1FM</b>
            <address class="resume-item-location">Champaign, IL</address>
          </div>
        </div>
        <p class="resume-item-description">
          Director of on-air talent at <a class="link link-inline" href="http://www.illinimedia.com" target="_blank">WPGU</a> - managed a staff of ~30 individuals as in-studio DJs, event hosts, and ad producers. I was responsible for talent acquisition, training, and growth, along with budget management, brand development, and regular presentations to both the sales team and executive board.
        </p>
      </li>

      <li class="resume-item">
        <div class="resume-item-main">
          <div class="resume-item-heading">
            <h3>On-air Talent</h3>
            <p class="resume-item-time">September 2009 — May 2012</p>
          </div>
          <div class="resume-item-info">
            <b class="resume-item-place">WPGU 107.1FM</b>
            <address class="resume-item-location">Champaign, IL</address>
          </div>
        </div>
        <p class="resume-item-description">
          Radio host and disc jockey for a commercial radio station owned and operated by Illini Media. Was responsible for programming, ad trafficking, interviews, producing on-air content, and hosting live events.
        </p>
      </li>
    </ul>
  </div>
</section>
