body {
  background: $white;
  color: $black;
  display: flex;
  font-family: $serif;
  flex-direction: column;
  line-height: 1.44;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}
::-moz-selection {
  background: $yellow;
  color: $black;
}
::selection {
  background: $yellow;
  color: $black;
}

img {
  max-width: 100%;
}

.bg-white {
  background: $white;
}
.bg-white-off {
  background: $white_off;
}
.bg-white-not {
  background: $white_not;
}
.bg-black {
  background: $black;
}
.bg-blue {
  background: $blue;
}
.bg-gdk {
  background: $grey_dk;
}
.bg-glt {
  background: $grey_lt;
}
.bg-yellow {
  background: $yellow;
}

.border {
  border-bottom: 1px solid $grey_lt;
  border-top: 1px solid $grey_lt;
}
.border-bottom {
  border-bottom: 1px solid $grey_lt;
}
.border-top {
  border-bottom: 1px solid $grey_lt;
  border-top: 1px solid $grey_lt;
}

.clearfix:after,
.resume-item-main:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix, .resume-item-main { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
* html .resume-item-main
.clearfix,
.resume-item-main { display: block; }

@media screen {
  #section-print {
    display: none;
  }
}

@media print {
  .site-header,
  .site-footer,
  .section-resume {
    display: none;
  }
  #section-print {
    display: block !important;
  }
}
