.page-main {
  //font-size: 1.414*$em;
  flex-grow: 1;
  position: relative;
  z-index: 0;
  @media screen and (min-width: $s-s-m) {
    font-size: 1.414*$em;
  }
}

#section-gist .link {
  font-size: $em;
}
.section-resume {
  padding: 2*$em 0;
}
.resume-item {
  padding: $em 0;
}
.resume-item:not(:last-of-type) {
  border-bottom: 1px solid $grey_md;
}
.resume-item-time {
  color: $grey_md;
  font-family: $helvetica;
  font-weight: bold;
  font-size: .75*$em;
}

.resume-item-location {
  font-size: $em;
}
.resume-item-main + .resume-item-description {
  margin-top: 1.414*$em;
}
.list-inline li {
  display: inline-block;
}
.list-inline li:not(:last-of-type) {
  margin-right: .5*$em;
}
.list-bullet {
  color: $grey_md;
  list-style-type: disc;
  margin-left: $em;
}
@media screen and (min-width: $m-l) {
  .resume-item-heading {
    float: left;
    max-width: 55%;
  }
  .resume-item-info {
    float: right;
    max-width: 45%;
    text-align: right;
  }
}
@media screen and (min-width: $l) {
  .resume-item-heading {
    max-width: 60%;
  }
  .resume-item-info {
    max-width: 40%;
  }
}
.resume-item .link {
  font-size: $em;
}


.skills-list {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;

  -webkit-column-width: 288px;
  column-width: 288px;

  margin-top: 1.414*$em;
}
.skills-list li {
  white-space: nowrap;
}
.skills-description {
  color: $grey_md;
  font-family: $helvetica;
  font-weight: bold;
  font-size: .75*$em;
}


.page-main--pdf {
  font-size: 12px;
  .wrapper {
    margin: $em auto;
  }
  .wrapper-s {
    padding: 0 2*$em;
    max-width: 64*$em;
    margin: $em auto;
  }
  .link {
    font-size: 11px !important;
  }
  .section-resume {
    padding: 8px 0;
  }
  .section-resume + .section-resume {
    border-top: 2px solid $grey_lt;
  }
  .bg-white-not {
    background: none;
  }
  #section-publication .resume-item .resume-item-description:last-child,
  #section-presentation .resume-item .resume-item-description:last-child,
  #section-project .resume-item .resume-item-description:last-child {
    display: none;
  }
  h3 {
    font-size: $em;
  }
  .contact-list {
    display: block;
    width: 100%;
    li {
      display: inline-block;
      margin-bottom: 8px;
      width: 33%;
    }
  }
  .skills-list {
    display: block;
    width: 100%;
    li {
      display: inline-block;
      width: 33%;
    }
  }
  .resume-item-heading {
    float: left;
    width: 69%;
  }
  .resume-item-info {
    float: right;
    max-width: 30%;
    text-align: right;
  }
}
